In [13]:
# import
import pandas as pd
import plotly.express as px

In [14]:
# reading data
df = pd.read_csv('../data_pub/data.csv', index_col=0)
df.head()

,ROAD NAME,geo_loc,machine_vision_prediction,LENGTH\n(FT),AVERAGE WIDTH (FT),AREA (SF),AREA (SY),Year RESURFACED,Pavement Rate Total,Pavement Rate Overall,Latitude,Longitude,coords,geometry
num,,,,,,,,,,,,,,
I,AQUEDUCT LANE,"41.039262, -73.866576",8.143537,215.0,21.0,4515.0,501.67,1993.0,9.35,9.0,41.039262,-73.866576,"(-73.866576, 41.039262)",POINT (-73.86657599999999 41.039262)
2,ARDSLEY AVE. EAST,"41.025517, -73.866235",2.710748,885.0,20.0,17700.0,1966.67,1994.0,4.50,5.0,41.025517,-73.866235,"(-73.866235, 41.025517)",POINT (-73.866235 41.025517)
3,ARDSLEY AVE. WEST*,"41.025593, -73.872857",7.368577,2764.0,20.0,55280.0,6142.22,1992.0,6.80,7.0,41.025593,-73.872857,"(-73.872857, 41.025593)",POINT (-73.872857 41.025593)
4,BARBARA LANE*,"41.042897, -73.854404",7.368577,591.0,23.0,13593.0,1510.33,2009.0,8.30,8.0,41.042897,-73.854404,"(-73.854404, 41.042897)",POINT (-73.854404 41.042897)
5,BEECHWOOD LANE*,"41.027831, -73.865263",6.667364,1636.0,24.0,39264.0,4362.67,2001.0,8.30,8.0,41.027831,-73.865263,"(-73.865263, 41.027831)",POINT (-73.865263 41.027831)

In [15]:
ls ../data_pub/

data.csv*          machinevision.csv*

In [16]:
df2 = pd.read_csv('../data_pub/machinevision.csv', index_col=0)
df2.head()

,ROAD NAME,geo_loc,machine_vision_prediction,LENGTH\n(FT),AVERAGE WIDTH (FT),AREA (SF),AREA (SY),Year RESURFACED,Pavement Rate Total,Pavement Rate Overall,Latitude,Longitude,coords,geometry
num,,,,,,,,,,,,,,
I,AQUEDUCT LANE,"41.039262, -73.866576",8.143537,215.0,21.0,4515.0,501.67,1993.0,9.35,9.0,41.039262,-73.866576,"(-73.866576, 41.039262)",POINT (-73.86657599999999 41.039262)
2,ARDSLEY AVE. EAST,"41.025517, -73.866235",2.710748,885.0,20.0,17700.0,1966.67,1994.0,4.50,5.0,41.025517,-73.866235,"(-73.866235, 41.025517)",POINT (-73.866235 41.025517)
3,ARDSLEY AVE. WEST*,"41.025593, -73.872857",7.368577,2764.0,20.0,55280.0,6142.22,1992.0,6.80,7.0,41.025593,-73.872857,"(-73.872857, 41.025593)",POINT (-73.872857 41.025593)
4,BARBARA LANE*,"41.042897, -73.854404",7.368577,591.0,23.0,13593.0,1510.33,2009.0,8.30,8.0,41.042897,-73.854404,"(-73.854404, 41.042897)",POINT (-73.854404 41.042897)
5,BEECHWOOD LANE*,"41.027831, -73.865263",6.667364,1636.0,24.0,39264.0,4362.67,2001.0,8.30,8.0,41.027831,-73.865263,"(-73.865263, 41.027831)",POINT (-73.865263 41.027831)

In [4]:
cd src/

/Users/ali/Documents/GitHub/pa/src

In [9]:
!python fig_generator.py

In [ ]:
#import
import pandas as pd
import plotly.express as px


# reading data
df = pd.read_csv('../data_pub/data.csv', index_col=0)
df.head()


# process data
df['PCI'] = ['good' if (x >= 7) else 'fine' if (x >= 5 and x <7) else 'bad' for x in df['Pavement Rate Total']]
df['maintenance level'] = ['routine maintenance' if (x >= 7) else 'rehabilitation' if (x >= 5 and x <7) else 'reconstruction' for x in df['Pavement Rate Total']]

df.head()

#
fig = px.scatter_mapbox(df, lat="Latitude", lon="Longitude", color="machine_vision_prediction", size="AVERAGE WIDTH (FT)"
                        ,hover_name="ROAD NAME",hover_data=["machine_vision_prediction", "Pavement Rate Total", "PCI", "maintenance level"],color_discrete_sequence=["fuchsia"], zoom=12
                          )
#, hover_name="ROAD NAME", hover_data=["machine_vision_prediction", "Pavement Rate Total"],
#                        color_discrete_sequence=["fuchsia"], zoom=12, height=300)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})


if __name__ == "__main__":
    fig.show()